body {
  margin: 0;
  /* overflow-y: scroll; */
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  overflow-x: hidden;
}

canvas {
  display: block;
}

#top-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* position: absolute;
  top: 50px;
  left: 50px;
  max-width: 400px;
  margin: 20px;
  padding: 1em;
  color: grey;
  /* border: 3px dotted grey; */
  /* z-index: 10; */
}

#bottom-panel {
  position: absolute;
  bottom: 10px;
  left: 50px;
  max-width: 400px;
  margin: 20px;
  padding: 1em;
  color: grey;
  /* border: 2px dotted grey;
  border-radius: 50px; */
  z-index: 10;
}